extends mainlayout.pug
block extra-css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css', type='text/css')
block extra-js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
    script(src='js/datepicker.js')
    script(src='js/carbrowser.js')

block header
    header(class='masthead')
        div(class='container')
          include includes/datepicker

block main-content
  section(class='success' id='ourcars')
    div(class='container')
      if carData
        h4(id="cars-available-header")  Available cars between #{startdate} and #{enddate}
        table(class='table table-hover mx-auto table-bordered car-table-container')
          thead(class='thead-inverse')
            tr
              th(scope='row') Brand
              th(scope='row') Seats
              th(scope='row') Towbar
              th(scope='row') Price/Day
              if withinRange
                  th(scope='col') Bookable again
          tbody
            - for (var x = 0; x < carData.length; x++)
              tr
                td
                  .div= carData[x].brand
                td
                  .div= carData[x].seats
                td
                  .div= carData[x].towbar
                td
                  .div= carData[x].priceperday
                if carData[x].enddate
                    td
                      .div= moment(carData[x].enddate).format('YYYY.MM.DD')

    if !carData
      h2(class='text-center') Our cars
        div(class='d-flex flex-row justify-content-center align-items-stretch')
          button(class='filtercars' id='automatic') Automatic
          button(class='filtercars' id='towbar') Towbar
          button(class='filtercars' id='seats2') 2 seats
          button(class='filtercars' id='seats5') 5 seats
          button(class='filtercars' id='seats7') 7 seats

        table(class='table table-hover mx-auto car-table-container')
          thead(class='thead-inverse')
            tr
              th(scope='col') Brand
              th(scope='col') Seats
              th(scope='col') Automatic
              th(scope='col') Towbar
              th(scope='col') Price/day
          tbody(id='car-table')



      //Scroll to Top Button (Only visible on small and extra-small screen sizes)
      div(class='scroll-top hidden-lg-up')
          a(class='btn btn-primary page-scroll' href='#page-top')
              i(class='fa fa-chevron-up')
              i(class='') Car rental at discounted price
