extends mainlayout.pug
block extra-css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css', type='text/css')
block extra-js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
    script(src='js/datepicker.js')
    script(src='js/carbrowser.js')

block header
      header(class='masthead')
          div(class='container')
              include includes/datepicker


block main-content
  form( id="checkout-form" action="../customers/checkout" method="post")
    section(class='success' id='ourcars')
    div(class='container')
      if carData
        h5(id="cars-available-header")  Available cars between #{startdate} and #{enddate}

        input(id="startdate", type="hidden", name="startdate", value=startdate)
        input(id="enddate", type="hidden", name="enddate", value=enddate)
        table(class='table mx-auto table-bordered car-table-container')
          thead(class='thead-inverse')
            tr()
              th(scope='row') Brand
              th(scope='row') Seats
                select#filterSeat(style='display:inline-block')
                  option(disabled='', selected='') Select
                  option(value='5') 5
                  option(value='7') 7
                  option(value='2') 2
                  option(value='all') All
              th(scope='row') Towbar
                select#filterTowbar(style='display:inline-block')
                  option(disabled='', selected='') Select
                  option(value='Yes') Yes
                  option(value='No') No
                  option(value='all') All

              th(scope='row') Price/Day
              if startDateWithinRange
                  th(scope='col') Booked from
                  if endDateWithinRange
                  th(scope="col") Available From
          tbody(id="car-table-body")
            - for (var x = 0; x < carData.length; x++)
              tr(data-identifier= carData[x].id class="content")
                td
                  .div= carData[x].brand
                td
                  .div= carData[x].seats
                if carData[x].towbar
                    td
                      .div Yes
                if !carData[x].towbar
                    td
                      .div No
                td
                  .div= carData[x].priceperday
                if carData[x].startdate
                    td
                      .div= moment(carData[x].startdate).format('YYYY.MM.DD')
                else
                    td -
                if carData[x].enddate
                    td
                      .div= moment(carData[x].enddate).format('YYYY.MM.DD')
                else
                    td  -
        input(class="btn btn-lg btn-primary" value='Continue to checkout' id="sign-up" type='submit')


      //Scroll to Top Button (Only visible on small and extra-small screen sizes)
      div(class='scroll-top hidden-lg-up')
          a(class='btn btn-primary page-scroll' href='#page-top')
              i(class='fa fa-chevron-up')
              i(class='') Car rental at discounted price
